/* +++++ COMMONS +++++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: .5vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container-body{
    margin: auto;
    width: 80vw;
}

.mbot-small{
    margin-bottom: 3vh;
}

.mbot-big{
    margin-bottom: 4vh;
}

.bonus-layover{
    background-color: rgba(0, 0, 0, 0.253);
    height:100%;
    width: 100%;
    border-radius: 10px;
}
/* ----- COMMONS ----- */


/* +++++ HEADER +++++ */

/* Altezza dell'header ormai inutile perché già definita dall'altezza dei contenuti */
/* .container-header{
    height: 13vh;
} */

.container-logo{
    width: 12.5vw;
    border-right: 2px solid rgb(226, 226, 226);
}

#logo-header{
    width: 11vw;
}

header li{
    vertical-align: middle;
    display: inline-block;
    margin-right: 1vw;
    font-size: 1.5vh;
}

header a{
    color: rgb(136, 136, 136);
    text-decoration: none;
}

header a:hover{
    color: rgb(95, 95, 95);
}

.container-hbottom{
    line-height: 4vh;
    padding-top: 1.7vh;
}
/* ----- HEADER ----- */


/* +++++ JUMBOTRON +++++ */
.jumbo-img{
    height: 45vh;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.text-container-jumbo{
    color: white;
    width: 38vw;
    position: absolute;
    left: 5%;
    bottom: 14%;
}

.text-container-jumbo h2{
    font-weight: 400;
    font-size: 2.5vh;
}

.text-container-jumbo p{
    font-size: 1.4vh;
    overflow: hidden; /* nasconde il testo in overflow */
    text-overflow: ellipsis; /* aggiunge i "..." */
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* numero di righe da vedere */
}

/* ----- JUMBOTRON ----- */


/* +++++ MAIN +++++ */
.container-main{
    margin-bottom: 1vh;
}

.text-grey{
    color: rgb(136, 136, 136);
    font-size: 1.4vh;
}

/* main header */
.main-header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6vh;
    font-weight: 700;
}

/* main body */
.main-body aside{
    width: 15.5vw;
}

.main-body .central{
    width: 46vw;
    margin: 0 1.5vw 0 1.5vw;
}

.main-img-left{
    height: 18vh;
    background-image: url("../img/img-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.main-img-center{
    height: 18vh;
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.main-img-right{
    height: 18vh;
    background-image: url("../img/img-3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.main-body h5{
    font-size: 1.4vh;
    margin-top: 1.2vh;
    font-weight: 500;
    color: rgb(95, 95, 95);
}

.main-body p{
    margin-top: 1vh;
}

/* ----- MAIN ----- */


/* +++++ FOOTER +++++ */
.container-footer{
    height: 6vh;
    line-height: 6vh;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4vh;
}

.container-footer::after{
    content: "\2764";
    color: red;
    font-size: 2vh;
    vertical-align: middle;
}
/* ----- FOOTER ----- */




/* +++++ DEBUG +++++ */

/* + DEBUG HEADER + */
.debug .container-header{
    outline: 2px solid purple;
}

.debug .container-htop{
    border: 2px solid violet;
}

.debug .container-hbottom{
    border: 2px solid violet;
}

/* + DEBUG JUMBO + */
.debug .container-jumbo{
    outline: 2px solid rgb(231, 231, 133);
}

/* + DEBUG MAIN + */
.debug .container-main{
    outline: 2px solid rgb(31, 133, 230);
}

.debug .main-section, .debug .main-header{
    border: 2px solid lightblue;
}

/* + DEBUG FOOTER + */
.debug .container-footer{
    outline: 2px solid rgb(144, 85, 211);
}

/* ----- DEBUG ----- */