/* +++++ COMMONS +++++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 2vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container-body{
    margin: auto;
    width: 80vw;
}

.mbot-std{
    margin-bottom: 2.5vh;
}
/* ----- COMMONS ----- */


/* +++++ HEADER +++++ */
.container-header{
    height: 12vh;
}
/* ----- HEADER ----- */


/* +++++ JUMBOTRON +++++ */
/* ----- JUMBOTRON ----- */


/* +++++ MAIN +++++ */
.container-main{
    margin-bottom: 1vh;
}

.main-header, .main-body{
    margin-bottom: 2vh;
}

.main-body aside{
    width: 15.5vw;
}

.main-body .central{
    width: 46vw;
    margin: 0 1.5vw 0 1.5vw;
}
/* ----- MAIN ----- */


/* +++++ FOOTER +++++ */
.container-footer{
    height: 6vh;
}
/* ----- FOOTER ----- */




/* +++++ DEBUG +++++ */

.debug .container-header{
    background-color: violet;
}

.debug .container-jumbo{
    height: 44vh;
    background-color: rgb(231, 231, 133);
}

.debug .container-main{
    background-color: rgb(31, 133, 230);
}

.debug .main-header{
    height: 8vh;
}

.debug .main-section, .debug .main-header{
    background-color: lightblue;
}

.debug .main-body>.main-section{
    height: 46vh;
}

.debug .container-footer{
    background-color: rgb(144, 85, 211);
}
/* ----- DEBUG ----- */